{% extends 'layout.html' %}{% block content %}

            <!--ATRACCIONES-->
<section class="section lb section-title h4">
    <a name="atracciones"></a>
    <div class="container">
        <div class="tagline-v2 text-center">
            <h3 > ¿Que se puede visitar en la zona?</h3>
            <p><li> Ubicado en el departamento de la caldera, nuestro alojamiento posee una ubicación estratégica para visitar los lugares mas emblemáticos de la provincia de salta </li> </p>
        </div> 
        <div class="container align-self-auto">
            <a href="http://turismosalta.gov.ar/contenido/18/cafayate" target="_blank">
                <p><img src="static\images\cafayate.jpg" alt="Cafayate" title="Cafayate" width="500" height="400" hspace="10px" >
            </a>
            <a href="http://turismosalta.gov.ar/contenido/5/la-caldera" target="_blank">
                <img src="http://www.salta.gov.ar/images/uploads/caldera.jpeg" alt="La caldera" title="La Caldera" width="500" height="400" hspace="10px">
            </a>
            <br><br>
            <a href="https://dealtura.com.ar/salinas-grandes.html" target="_blank"><p>
                <img src="static\images\salinas.jpg" alt="Salinas" title="Salinas grandes" width="500" height="350" hspace="10px">
            </a>
            <a href="http://turismo.salta.gov.ar/contenido/41/ciudad-de-salta" target="_blank"> 
                <img src="https://static.wixstatic.com/media/f49fed_bb70e555d80e4ddb90c9ee09b3215b07~mv2.jpg/v1/fill/w_1200,h_697,al_c,q_90/file.jpg" alt="Cuidad de salta" title="Salta capital"  width="500" height="350" hspace="10px">
            </a>
            <br><br>
            <a href="http://turismosalta.gov.ar/contenido/4/villa-san-lorenzo" target="_blank">
                <img src="static\images\sanLorenzo.jpg" alt="San lorenzo" title="Quebrada de San Lorenzo" width="500" height="350" hspace="10px">
            </a>
            <a href="https://www.todowebsalta.com.ar/campoalegre/" target="_blank">
                <img src="static\images\dique.jpg" alt="Campo Alegre" title="Dique Campo Alegre"  width="500" height="350" hspace="10px">
            </a>
            <br><br>
            <a href="http://turismosalta.gov.ar/contenido/13/cachi" target="_blank"><p>
                <img src="static\images\cachi.jpg" alt="Cachi" title="Cachi" width="500" height="350" hspace="10px">
            </a>
            <a href="https://iruya.online/" target="_blank">
                <img src="static/images/iruya.jpg" alt="Iruya" title="Iruya"  width="500" height="350" hspace="10px">
            </a>
        </div><!-- end container-->
    </div> <!--end container -->
</section> <!-- end section -->       
{% endblock %}