appdirs==1.4.4
astroid==2.4.1
click==7.1.2
colorama==0.4.3
distlib==0.3.0
filelock==3.0.12
flash==1.0.3
Flask==1.1.2
Flask-MySQL==1.5.1
Flask-MySQLdb==0.2.0
get==2019.4.13
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql==0.0.2
mysqlclient==1.4.6
post==2019.4.13
public==2019.4.13
pylint==2.5.2
PyMySQL==0.9.3
query-string==2019.4.13
request==2019.4.13
six==1.15.0
toml==0.10.1
virtualenv==20.0.21
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
wrapt==1.12.1
