{% extends "layout.html" %}

{% block content %}
<center>  
  <p>
      <div class="jumbotron">
        <h1 class="display-4"  >¿Cómo llegar al alojamiento? </h1>
        <hr class="my-4">
        <p class="lead">El alojamiento se encuentra ubicado en "Valle hermoso", departamento de la Caldera, ubicado a solo 10 kilometros del centro de la cuidad de Salta. Puede llegarse al mismo por medio de la linea 6C. Para traslados desde el aeropuerto al alojamiento se recomienda hacerlo por auto para facilitar la logistica. </p>
        <br>
        <p class="lead">El transporte público en la cuidad de Salta se maneja mediante la tarjeta SAETA, la misma se puede adquirir y cargar en varios puntos en la cuidad y algunos pueblos. Para mas infomación acerca de los recorridos del transporte en Salta visitar: <a href="http://www.saetasalta.com.ar">http://www.saetasalta.com.ar</a> </p>
        <hr class="my-4">
        <h4>Mapas para llegar al alojamiento:</h4>

      </div>

  </p>
  <p><img src="static\images\rutaCentro.png" alt="" title="Centro-Hospedaje" hspace="40px" width="400" height="550">
  <img src="static\images\rutaAero.png" alt="" title="Aeropuerto-Hospedaje" hspace="40px" width="400" height="550"></p>
  <br>
  <p><img src="static\images\dirección.png" alt="Llegando" title="Llegando al alojamiento"></p>
  
</center>



{% endblock %}


10