{% extends "layout.html" %}

{% block content %}
<center>
<p>
    <div class="jumbotron">
        <p class="display-4">¿Te estas preguntando que se puede conocer en la zona?</p>
        <hr class="my-4">
          <h1 class="lead">Aquí te dejamos algunas opciones para que aproveches tu visita al máximo!</h1>
    </div>
</p>

<!--FOTOS-->
      <a href="http://turismosalta.gov.ar/contenido/18/cafayate" target="_blank"><p><img src="static\images\cafayate.jpg" alt="Cafayate" title="Cafayate" width="500" height="400" hspace="10px" ></a>
        <a href="http://turismosalta.gov.ar/contenido/5/la-caldera" target="_blank"><img src="http://www.salta.gov.ar/images/uploads/caldera.jpeg" alt="La caldera" title="La Caldera" width="500" height="400" hspace="10px"></p></a>
  <br>
      <a href="https://dealtura.com.ar/salinas-grandes.html" target="_blank"><p><img src="static\images\salinas.jpg" alt="Salinas" title="Salinas grandes" width="500" height="350" hspace="10px"></a>
     <a href="http://turismo.salta.gov.ar/contenido/41/ciudad-de-salta" target="_blank"> <img src="https://static.wixstatic.com/media/f49fed_bb70e555d80e4ddb90c9ee09b3215b07~mv2.jpg/v1/fill/w_1200,h_697,al_c,q_90/file.jpg" alt="Cuidad de salta" title="Salta capital"  width="500" height="350" hspace="10px"></p></a>
  <br>
      <a href="http://turismosalta.gov.ar/contenido/4/villa-san-lorenzo" target="_blank"><p><img src="static\images\sanLorenzo.jpg" alt="San lorenzo" title="Quebrada de San Lorenzo" width="500" height="350" hspace="10px"></a>
        <a href="https://www.todowebsalta.com.ar/campoalegre/" target="_blank"> <img src="static\images\dique.jpg" alt="Campo Alegre" title="Dique Campo Alegre"  width="500" height="350" hspace="10px"></p></a>
  <br> 
      <a href="http://turismosalta.gov.ar/contenido/13/cachi" target="_blank"><p><img src="static\images\cachi.jpg" alt="Cachi" title="Cachi" width="500" height="350" hspace="10px"></a>
        <a href="https://iruya.online/" target="_blank"> <img src="static/images/iruya.jpg" alt="Iruya" title="Iruya"  width="500" height="350" hspace="10px"></p></a>
</center>
{% endblock %}